h1 Checking Payment

script.
  var ethAddr = "#{ethAddr}";
  var producer = "#{producer}";
  var movieName = "#{movieName}";

script(src='javascripts/client_side_blockchain_settings.js')
script(src='javascripts/checkpayment.js')
