h1 PAYMENT ON PROCESS

script.
  var ethAddr = "#{ethAddr}";
  var producer = "#{producer}";
  var movieName = "#{movieName}";

script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js")
script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
script(src="javascripts/client_side_blockchain_settings.js")
script(src="javascripts/payment.js")
