@media (max-width: 991px){
    h5 {
        font-size: 10px;
        color: white;
        word-wrap: break-word;
    }

    button {
        font-size: 7px !important;
    }

    .form-control {
        height: 25px !important;
        font-size: 7px !important;
    }
}

@media (min-width: 992px){
    h5 {
        font-size: 14px;
        color: white;
        word-wrap: break-word;
    }

    button {
        font-size: 10px !important;
    }

    .form-control {
        height: 25px !important;
        font-size: 10px !important;
    }
}

@media (min-width: 1200px){
    h5 {
        font-size: 18px;
        color: white;
        word-wrap: break-word;
    }

    button {
        font-size: 16px !important;
    }

    .form-control {
        height: 38px !important;
        font-size: 18px !important;
    }
}

.row {
    margin: 10px !important;
}
